test.example.com:80 {
	encode gzip
	file_server
	root * /web
    reverse_proxy /api/* http://10.30.88.3:8002
    reverse_proxy /login/* http://10.30.88.3:8002
    reverse_proxy /refresh_token/* http://10.30.88.3:8002
    reverse_proxy /swagger/* http://10.30.88.3:8002
    reverse_proxy /static/uploadfile/*  http://10.30.88.3:8002

    log {
        output file /var/log/access.log {
            roll_size 1gb
            roll_keep 5
            roll_keep_for 720h
        }
}
